<h1> <%= @restaurant.name %> </h1>


<h1> <%= @restaurant.address %> </h1>


<h1> <%= @restaurant.category %> </h1>


<p><%= render "reviews/form", restaurant: @restaurant, reviews: @reviews %></p>


<ul>

  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= review.rating %>

    </li>
  <% end %>

</ul>
<br>
